body{
    background-image:url(diwali.gif);
    height:100vh;
    background-size: contain;
    background-position: center;
}

p {

	color:white;
	font-size:40px;
	text-align:center
	}





h1 {
    color:white;
    text-align: center;
    margin:0px;
    font-size:70px;

}

pre {
    color:white;
    font-family:times new roman;
    text-align: center;
    font-size:50px;
    margin:0px;

}

input{
    position: relative;
    border:3px solid red;
    margin:5px;
    padding: 10px;
    width: 45%;
}

button{
    font-family: 'Times New Roman', Times, serif'
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 23%;
    border: 0;
    padding: 15px;
    color: 'green';
    font-size: 14px;
    cursor: pointer;

}


form{
    position: relative;
    z-index: 1;
    background: rgba(225, 97, 150, 0.75);
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

button:hover, .form button:active{
    background: blue;
}
lable{
    color:white;
    font-size:20px;
}